<p-splitter [panelSizes]="[25, 75]">
  <ng-template pTemplate>
    <p-accordion class="custom-accordion">
      <p-accordionTab class="custom-accordion-tab" *ngFor="let elemento of summaryElementos" [header]="elemento.label">
        <p-listbox class="custom-listbox" [options]="elemento.itens" optionLabel="label" (onChange)="openEditor($event.value)">
          <ng-template let-item pTemplate="item">
            <div>{{ item.label }}</div>
          </ng-template>
        </p-listbox>
      </p-accordionTab>
    </p-accordion>
  </ng-template>
  <ng-template pTemplate>
    <div class="editor-container" *ngIf="documentContent">
      <p-editor [(ngModel)]="documentContent" [readonly]="true">
        <ng-template pTemplate="header">
          <span class="ql-formats"></span>
        </ng-template>
      </p-editor>
    </div>
  </ng-template>
</p-splitter>

<p-dialog header="Editor" [(visible)]="displayEditor" [modal]="true" [style]="{width: '50vw'}">
  <p-editor p-editor-content [(ngModel)]="selectedItem.content"></p-editor>
  <p-footer>
    <p-button type="button" label="Save" icon="pi pi-check" (click)="saveContent()"></p-button>
  </p-footer>
</p-dialog>
